.word {
  // display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  &.testing {
    display: inline-block !important;
    height: 20vw;
    width: 47vw;
    display: inline-grid !important;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: static;
    box-shadow: 5px 5px 5px;
    margin: 1vw;
  }
  &.ready {
    display: block;
  }
  &.current {
    display: block;
      border: solid black 1px;
  }
  &:nth-child(1){
    z-index: 111;
  }
  &:nth-child(2){
    z-index: 110;
  }
  &:nth-child(3){
    z-index: 109;
  }
  &:nth-child(4){
    z-index: 108;
  }
  &:nth-child(5){
    z-index: 107;
  }
  &:nth-child(6){
    z-index: 106;
  }
  &:nth-child(7){
    z-index: 105;
  }
  &:nth-child(8){
    z-index: 104;
  }
  &:nth-child(9){
    z-index: 103;
  }
  &:nth-child(10){
    z-index: 102;
  }
  &:nth-child(11){
    z-index: 101;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.testing .slide {
  position: static;
  width: auto;
  height: auto;
  opacity: 1;
  &.active {
    border: solid black 1px;
  }
}

.slide {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // transition: 1s opacity;
  opacity: 0;
  // visibility: hidden;
  z-index: -100;
  position: absolute;
  // transition: 0s visibility, opacity.4s;
  &.used {
    animation: fadeOut .3s linear;
  }
  // display: none;
  &.active  {
    opacity: 1;
    // visibility: visible;
    animation: fadeIn .3s linear;
    // transition-delay: visibility 0s;
  }

}
